* {
  border-radius: 0   !important;
}
body{
	background-image: url("mainpage1.jpg");
	background-size: cover;
}
.navbar{
	background-color:rgba(255,255,255,0.75);
	color: gray;
}
[id=synopsisbox]{
	background-color:rgba(255,255,255,0.6);
	color: gray;
	height: auto;
}
.pushdown{
	margin-top: 50px;
}