* {
  border-radius: 0   !important;
}
body{
	background-image: url("mainpage1.jpg");
	background-size: cover;
}
[id=synopsisbox]{
	background-color:rgba(0,0,0,0.3);
	height: 300px;
}
.pushdown{
	margin-top: 200px;
}