* {
  border-radius: 0   !important;
}

body .navbar{
	background-color:transparent;
	color: navy;
}
a{
	color:blue;
}
[id=synopsisbox]{
	background-color:rgba(255,255,255,0.6);
	color: #696969;
	height: 50px;
}
.pushdown{
	margin-top: 50px;
}
[id=about]{
	background-color:rgba(255,255,255,0.6); 
	height: 300px;
}
[id=profilepic]{
	content: url("profilepicture.jpg")
}
[id=bannername]{
	font-family: "Verdana";
}
body {

}